#carousel-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#n-fade-box{
    width: 40%;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 50px;
    padding-bottom: 50px;  
}

.hero-5-3 #logo-about{
    padding: 50px;
    width: 100px;
    height: 80%;
}

#text-fade-box {
    background: rgba(0, 0, 0, 0.4); 
    padding: 10px;
    width: 25%;
}